<html>
<body>
<div style="margin-bottom:0">
    <table>
        <tr><td style="width:105mm" rowspan="4"></td><td>${salutation}</td></tr>
        <tr><td>${firstName} ${lastName}</td></tr>
        <tr><td>${streetNo}</td></tr>
        <tr><td>${zip} ${city}</td></tr>
    </table>
</div>

<div style="margin-top:10mm;margin-bottom:0">
    <table>
        <tr>
            <td class="small" style="width:105mm">N.réf. : ${issuer}/${refNo}<br/>No TVA: ${tvaNo}</td>
            <td>Neuchâtel, le ${date}</td>
        </tr>
    </table>
</div>

<p><strong>Perducere Rupilium potuit ille deferre.</strong></p>

<div style="margin-top:0;margin-bottom:0">
    <p style="text-align:justify">
        Isdem diebus Apollinaris Domitiani gener, paulo ante agens palatii Caesaris curam, ad Mesopotamiam missus a socero per militares numeros immodice scrutabatur, an quaedam altiora meditantis iam Galli secreta susceperint scripta, qui conpertis Antiochiae gestis per minorem Armeniam lapsus Constantinopolim petit exindeque per protectores retractus artissime tenebatur.
    </p>
    <p style="text-align:justify">
        Horum adventum praedocti speculationibus fidis rectores militum tessera data sollemni armatos omnes celeri eduxere procursu et agiliter praeterito Calycadni fluminis ponte, cuius undarum magnitudo murorum adluit turres, in speciem locavere pugnandi. neque tamen exiluit quisquam nec permissus est congredi. formidabatur enim flagrans vesania manus et superior numero et ruitura sine respectu salutis in ferrum.
    </p>
    <p style="text-align:justify">
        Primi igitur omnium statuuntur Epigonus et Eusebius ob nominum gentilitatem oppressi. praediximus enim Montium sub ipso vivendi termino his vocabulis appellatos fabricarum culpasse tribunos ut adminicula futurae molitioni pollicitos.
    </p>
</div>

<div style="margin-top:30mm;margin-bottom:0">
    <table>
        <tr><td style="width:105mm"></td><td>Marna Müller-Bessi</td></tr>
    </table>
</div>

</body>
</html>